@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat&display=swap');

@font-face {
    font-family: "BlackJack";
    src: url("../fonts/BLACKJAR.TTF");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    font-family: "BlackJack";
    font-size: 70px;
}

h2 {
    font-family: 'Montserrat';
    font-size: 31px;
}

button {
    cursor: pointer;
}

.wrapper {
    background-color: #f4f4f4;
}

.header {
    height: 650px;
    background-image: url(../img/blue-pattern.jpg);
    background-repeat: repeat;
    color: white;
    position: relative;
}
.top {
    position: relative;
    height: 10vw;

}
.logo {
   position: absolute;
   text-align: center;
   font-family: 'Kaushan script';
   color: #00b3e8;
   font-size: 3em;
   top: 0;
   left: 12.5vw;
   width:7.80vw;
   height:7.80vw;
   background-color: white;
   box-shadow: 10px 10px #00b3e8;
}

.menu {
    position: absolute;
    top: 36px;
    right: 159px;
    height: 30px;
    width: 40px;
}

.menu-item {
    display: block;
    width: 31px;
    height: 4px;
    background-color: white;
    margin: 2px 4px;
}

.header-title, .button-download {
    text-align: right;
    margin: 25px 160px 18px;
    font-weight: 400;
}

.button-download {
    float: right;
    color: white;
    text-transform: uppercase;
    background-color: inherit;
    padding: 20px 35px;
    outline: none;
    border: 2px solid white;
    border-radius: 3px;
    cursor: pointer;
}

.phone-image {
    background-image: url(../img/iphone.png);
    position: absolute;
    bottom: 0;
    left: 230px;
    width: 230px;
    height: 270px;
    background-repeat: no-repeat;
}

.about-perth {
    position: relative;
    height: 650px;
    display: flex;
    background-color: #f4f4f4;
    color: #9b9b9b;
    flex-direction: column;
}

.about-item {
    margin-left: 160px;
    margin-bottom: 25px;
    width: 550px;
    line-height: 1.5;
    font-size: 17px;
}

h2.about-item {
    color: black;
    font-size: 33px;
    font-weight:lighter;
    margin-top: 140px;
}

.blockquote {
    border-left: 5px solid #00aee0;
    padding-left: 15px;
    font-style: italic;
}

.hello-button {
    color: #00b18f;
    text-transform: uppercase;
    width: 170px;
    height: 58px;
    margin-top: 35px;
    border: 2px solid #00b18f;
}

.ipad-image {
    background-image: url(../img/ipad.png);
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 350px;
    height: 500px;
}

.dribble {
    background-color: white;
    position: relative;
    height: 106vh;
}

.dribble-container {
    width: 450px;
    float: right;
    margin-top: 98px;
    margin-right: 120px;
}

h2.dribble-item {
    font-size: 35px;
}

.dribble-item {
    font-family: 'Montserrat';
    margin-bottom: 35px;
    margin-left: 10px;
    color: #424d5f;
}

.dribble-button {
    width: 225px;
    color: #ff4b8c;
    border: 2px solid #ff4b8c;
    border-radius: 3px;
    padding: 20px;
    margin-top: 30px;
}

.devices-image {
    position: absolute;
    left: -80px;
    bottom: 0;
    background-image: url(../img/devices.png);
    background-repeat: no-repeat;
    width: 850px;
    height: 380px;
}

.donation {
    height: 53vh;
    background-image: url('../img/green-pattern.jpg');
    background-repeat: repeat;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items:  center;
    justify-content: center;
}

.donation-header {
    font-size: 35px;
    letter-spacing: 1px;
    word-spacing: 5px;
    margin-bottom: 40px;
}

.donation-button {
    background-color: inherit;
    color: inherit;
    border: 2px solid white;
    height: 60px;
    width: 225px;
}

.fa-beer {
    margin-left: 15px;
    transform: scaleX(-1);
}

.contacts-container {
    height: 400px;
    background-color: #f4f4f4;
}
.socials {
    margin: 240px auto 0;
    display: flex;
    width: 400px;
}

.socials a {
    width: 56px;
    height: 56px;
    color: #545454;
    border: 3px solid #545454;
    border-radius: 50%;
    position: relative;
    margin-left: 34px;
    transition: all 0.2s linear;
}

.socials a i {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 21px;
    transform: translateX(-50%) translateY(-50%);
}

.subscription {
    width: 500px;
    margin: 65px auto 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.subscription p {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #545454;
    margin-right: 20px;
    margin-left: 30px;
}

.subscription form {
    display: flex;
    border: none;
    border-radius: 8px;
    background: #ffffff;
    padding: 12px 18px;
    align-items: center;
}

.subscription input {
    border: none;
    font-size: 14px;
    color: #545454;
}

.subscription input::placeholder {
    color: #d3d3d3;
    border-right: 2px solid #f4f4f4;
}

.subscription button {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    cursor: pointer;
    transition: all 0.2s linear;
    margin-left: 12px;
}

.subscription button i {
    color: #4eacdd;
}

footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
}

footer p {
    margin-top: 25px;
    font-size: 14px;
}
footer p a {
    text-decoration: none;
    color: #4eacdd;
}
.page-up {
    width: 35px;
    height: 35px;
    text-align: center;
    border-radius: 3px;
    background-color: #f4f4f4;
    position: absolute;
    bottom: 30px;
    right: 60px;
}
.fa-angle-up {
    margin-top: 10px;
}
