* {
  box-sizing:border-box;
  margin: 0;
}

.heading {
  text-align: center;
  padding: .5em;
  background-color: lightgreen;
  color: black;
  font-size: 40px;
  margin-bottom: 0;
}

.row {
  display: flex;
  position: relative;
}

.column {
  flex: 1;
  padding: .5em;
  border: 0;
}

.column-1 {
  background-color: #aaa;
}

.column-2 {
  background-color: #bbb;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: .3em;
  background-color: gray;
  color: white;
  text-align: center;
}
