html {
  height: 100%;
  box-sizing: border-box;

}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  margin-top: -1.7em;
  min-height: 100%;
}

.heading {
  text-align: center;
  padding: .5em;
  background-color: lightgreen;
  color: black;
  font-size: 40px;
  margin-bottom: 0;
}

.row {
  display: flex;
  padding-bottom: 2em;
}

.column {
  flex: 1;
  padding: 0 .5em;
  border: 0;
}

.column-1 {
  background-color: #aaa;
}

.column-2 {
  background-color: #bbb;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: gray;
  color: white;
  text-align: center;
}
