.form {
  position: absolute;
  top:15%;
  left: 25%;
  width: 50%;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  border: 2px solid blue;
  border-radius: 10px;
  padding: 0 1.5em;
  font-size: 1.5em;
  font-family: serif;
}

input[type=text] {
  width: 15em;
}

.form button {
  width: 6em;
}

label, input[type=radio] {
  cursor: pointer;
}

label:hover {
  color: red;
}

.error {
  text-align: center;
  font-family: monospace;
  font-size: 2.5em;
  color: red;
}
.button {
  margin-left: 500px;
}
