body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  position: relative;
  margin-bottom: 5em;
}

.container {
  position: absolute;
  left: -9.5em;
  z-index: 2;
  cursor: pointer;
  width: 30em;
  border: 2px solid lightgray;
  display: flex;
  background-color: #fff;
  flex-direction: column;
  border-radius: 8px;
}

h1 {
  font-family: sans-serif;
}

p {
  margin: 15px 0;
}

div {
  display: flex;
  flex-direction: row;
}

.dropdown {
  background-color: #fff;
  /* display: flex;
  flex-direction: row; */
  align-items: center;
  justify-content: flex-start;
  border-radius: 8px;
  border-bottom: 1px solid #f3f3f3;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

img {
  margin: 0 .8em;
}

#down {
  z-index: 2;
  position: absolute;
  right: 15px;
  top: 20px;
}

#select {
  padding-left: 1em;
  color: #bbb;
}

.selected.closed {
  background-color: white;
}

.hidden {
  display: none;
}

.selected {
  background-color: #f3f3f3;
}

.active {
  border-color: lightblue;
}
.gray {
  color: gray;
}
