.container {
  position: absolute;
  cursor: pointer;
  top: 25%;
  left: 15%;
  width: 70%;
  border: 2px solid lightblue;
  display: flex;
  background-color: #fff;
  flex-direction: column;
  border-radius: 5px;
}
div {
  padding: 5px 0;
  background-color: #fff;
  justify-content: flex-start;
  border-radius: 5px;
  font-size: 30px;
}
img {
  margin: 0 .5em;
}
#down {
 position: absolute;
 right: 5%;
 bottom: 25%;
 color: black;
}
#select {
  color: #bbb;
}
